.col{
    background-color: black;
    color: white;
    padding: 2em;
    font-size: 16px;
}
.col-12{
    background-color: #dee3e2;
    padding: 2em;
    font-size: 16px;
    margin-bottom: 6.25em;
}
.colorblanco{
    background-color: white;
    border: black solid 1px;
}
.colorgris{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 2em;
}
@media screen and (max-width:600px){
    .col-12{
        font-size: 12px;
        text-align: justify;
    }
    .col-12{
        background-color: white;
    }
    .col-12 h2{
        text-align: center;
    }
    .colo-12{
        text-align: center;
        margin-bottom: 0em;
    }
    .colorgris{
        font-size: 12px;
    }
}